<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/bootstrap.php</file>
        </exclude>
    </coverage>
  <php>
    <includePath>app/code</includePath>
    <env name="SS_DATABASE_CLASS" value="SQLite3Database"/>
    <env name="SS_SQLITE_DATABASE_PATH" value=":memory:"/>
    <env name="SS_DATABASE_NAME" value="testing"/>
    <env name="SS_DATABASE_USERNAME" value=""/>
    <env name="SS_DATABASE_PASSWORD" value=""/>
  </php>
</phpunit>
